<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Form đăng ký</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Tên:</label>
    <input type="text" th:field="*{name}"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}"/>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <br/>

    <label>Mật khẩu:</label>
    <input type="password" th:field="*{password}"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <br/>

    <button type="submit">Đăng ký</button>
</form>
</body>
</html>